/* Lesson */
#subscribe{
    background-color: rgb(204, 0, 0);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 150ms, transform 500ms;
}
#subscribe:hover{
    opacity: 0.75;
    transform: scale(1.1);
}
#subscribe:active{
    opacity: 0.45;
}
#join{
    background-color: transparent;
    color: rgb(6, 95, 212);
    padding: 9px 15px;
    border-color: rgb(6, 95, 212);
    border-width: 1.5px;
    border-radius: 2px;
    margin: 12px;
    cursor: pointer;
    transition: background-color  0.15s, color 0.15s;
}
#join:hover{
    background-color: rgb(6, 95, 212);
    color: white;
}
#join:active{
    opacity: 0.6;
}
#twitter{
    background-color: rgb(29, 155, 240);
    color: white;
    border-radius: 50px;
    font-weight: 600;
    padding: 7px 16px;
    border: none;
    margin-left: 10px;   
    font-size: 15px;   
    cursor: pointer;
    transition: box-shadow 0.15s;
}
#twitter:hover{
    box-shadow: -2px 5px 5px rgba(0, 0, 0,0.15);
}

/* Exercises */
#getStarted{
    background-color: rgb(121,82,179);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.4);
}
#getStarted:hover{
    background-color: rgb(84, 46, 141);
}

#download{
    background-color: transparent;
    color: rgb(108, 117, 125);
    padding: 10px 15px;
    border-radius: 2px;
    border-width: 1px;
    border-color: rgb(108, 117, 125);
    font-weight: 600;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s,border 0.3s;
}
#download:hover{
    background-color: rgb(108, 117, 125);
    color: white;
    border: none;
}

/* Challenge */
#backtoamz{
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 113, 133);
}
#backtoamz:hover{
    color: rgb(199, 7, 7);
}


#addtocart{
    background-color: rgb(255, 216, 20);
    border: none;
    padding: 8px 15px;
    font-weight: 550;
    border-radius: 16px;
}

#buynow{
    background-color: rgb(255, 164, 28);
    border: none;
    padding: 8px 15px;
    font-weight: 550;
    border-radius: 16px;
    margin-left: 10px;
}

.backButton{
    padding: 5px 10px;
    float: left;
}